==
</div>
</div>
</div>
</div>
<div class="footer">
	<div class="row">
		<nav role="navigation" class="col-md-offset-1 col-md-5">
			<a href="http://mylittlepony.hasbro.com/en-us">Copyright &copy; My Little Pony Frienship is magic™ Hasbro</a> &mdash; Tous droits réservés<br>
			Copyright &copy; tout droit sur les Musique/Creation vont a leur artiste respectifs.<br>
			Copyright <a href="http://www.copyrighted.com/copyrights/view/gahl-yxox-vlsm-deb9">&copy; Cloudsdale Radio</a> 2016 - 2018<br>
			Copyright &copy; Site devlopper par Sirius • Version 4.Winter Edition <br> Cloudsdale radio est une filiale NitroGoup<br>
			<a href="/site-map">Site Map</a> • <!--<a href="#Show">Liste des Programe</a> •--><a href="/remerciement">Remerciement</a> • <a href="/update">Updates</a> • <a href="/server">Serveur</a> • <a href="/crew">Staff</a> • <a href="/humans.txt"><img src="http://humanstxt.org/img/oficial-logos/humanstxt-transparent-1ink.png"> </a>
		</nav>
		<div class="copyright col-md-offset-3 col-md-2">
			Powered by NitroGroup<br>
		</div>
	</div>
</div>
		<!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!--BoostrapJS-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!--player JS-->
	<script src="/themes/cloudsdale-radio-v5/assets/player/script/bar-ui.js"></script>
	<script type="text/javascript" src="/themes/cloudsdale-radio-v5/assets/player/script/soundmanager2.js"></script>
		<!--custom JS-->
	<script type="text/javascript" src="/themes/cloudsdale-radio-v5/assets/js/popup.js"></script>
	<script src="http://equestriaFM.com/themes/equestriafm/assets/cloudsdaleradio/jquery.shoutcast.easy.min.js?host=diffusion.cloudsdaleradio.com&port=8000&stream=1"></script>
</body>
</html>
		<!-- NOTE IMPORTANTE: On est pas la pour faire concurence, mais j'ai cru entendre dire plusieurs fois, que certaine radio n'etait pas tres aprecier du fandom (ou du moins par certains), donc je ré-ouvre Cloudsdale Radio pour les gens qui voudrais une radio Francophone sympas, il ne sert a rien de venire cracher sur le projet une fois de plus en me traitant d'incapable, et en rabaissant la radio car elle risque de vous faire de l'ombre, elle vous en fait et en faisait deja.
		Je crée des radio car j'adore la radio, pas pour me battre, donc la prochaine fois vous etes sympas et allez gérré vos propre projet avant de venire cracher sur celui ci. je revais deja de faire de la radio, alors que vous n'avez méme pas encore toucher a une lignes de code.
		j'ai crée des radio avant et apres la fermeture de celle ci.
		
		Quoi qui arrive la radio seras ré-ouverte, que cela vous plaise ou non. donc faite en sorte qu'on ai pas a se tapper dessus et que tout ce passe bien. peut etre une future collaboration, qui sais? 
		-Sirius
		PS: Je suis toujours pret a discuter 
		-> Discord: Sirius#0763 
		-> NitroGroup: https://discord.gg/fcUtJQd 
		-> TS: 51.15.148.196
		-->