==
<!DOCTYPE html>
<html>
<!-- Load Header-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="2nd plus grande Web radio brony Francophone #FromTheSky!">
	<meta name="author" content="Sirius">

	<title>Cloudsdale Radio</title>

	<!--Favico-->
	<link rel="icon" href="/themes/cloudsdale-radio-v5/assets/assets/img/favicon.ico" type="image/x-icon">
	<!--Twitter card-->
	<meta name="twitter:card" content="Cloudsdale Radio" />
	<meta name="twitter:site" content="@CloudsdaleRadio" />
	<meta name="twitter:title" content="Cloudsdale Radio | {{ this.page.meta_title }}" />
	<meta name="twitter:description" content="2nd Plus grande Web Radio brony Francophone #FromTheSky!" />
	<meta name="twitter:image" content="/themes/cloudsdale-radio-v5/assets/assets/img/avatar.jpg" />

	<!--Boostarp CSS Things-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Other CSS-->
    <link href="/themes/cloudsdale-radio-v5/assets/assets/css/style.css">


<!--Load body-->
</head>
<body>
<img src="/themes/cloudsdale-radio-v5/assets/img/logo.png" alt="Cloudsdale Radio" class="img-responsive center-block" />