<!DOCTYPE html>
<html>
<!-- Load Header-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="2nd plus grande Web radio brony Francophone #FromTheSky!">
	<meta name="author" content="Sirius">

	<title>Cloudsdale Radio</title>

	<!--Favico-->
	<link rel="icon" href="/themes/cloudsdale-radio-v5/assets/assets/img/favicon.ico" type="image/x-icon">
	<!--Twitter card-->
	<meta name="twitter:card" content="Cloudsdale Radio" />
	<meta name="twitter:site" content="@CloudsdaleRadio" />
	<meta name="twitter:title" content="Cloudsdale Radio | {{ this.page.meta_title }}" />
	<meta name="twitter:description" content="2nd Plus grande Web Radio brony Francophone #FromTheSky!" />
	<meta name="twitter:image" content="/themes/cloudsdale-radio-v5/assets/assets/img/avatar.jpg" />
	<!--custom CSS-->
	<link rel="stylesheet" href="/themes/cloudsdale-radio-v5/assets/css/style.css">
	<!--Boostarp CSS Things-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Load body-->
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/"><b>Home</b></a></li>
					<li><a href="/radio" class="popup" data-width="524" data-height="800" data-scrollbars="1" alt="popup"><b>Hey Listen!</b></a></li>
					<li><a href="/contact"><b>contact</b></a></li>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-right"><a href="#"><strong>Now Playing : </strong><i data-shoutcast-value="songtitle"></i></a></li>
			</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<img src="/themes/cloudsdale-radio-v5/assets/img/logo.png" alt="Cloudsdale Radio" class="img-responsive center-block" />
<div class="container txtbg">
	<div class="row page">
		<div class="col-sm-offset-1 col-sm-11">
			<div class="txtbg">
				<div class="col-xs-12" style="height:50px;"></div>