  body { 
    margin:0;
    padding:0;
    background: url(/themes/cloudsdale-radio-v5/assets/img/sunrise2.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
  .txtbg {
    background-color: rgb(206, 206, 206);
    left: 20px;
    right: 20px;
  }
  .welcome {
    text-align: center;
    margin-right: 3%;
  }
  .footer {
    background-color: #1F1F1F; 
    padding: 10px; 
    boder-top: 1px;
    border-color: white; 
    color: white; 
    width: 100%; 
    text-align: left; 
    position: block; 
    bottom: 0px;
  }