	body { 
		margin:0;
		padding:0;
		background: url(/themes/cloudsdale-radio-v5/assets/img/sunrise2.jpg) no-repeat center fixed; 
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardisée */
	}
	.txtbg {
		background-color: rgb(206, 206, 206, 0.9);
		border-radius: 25px;
	}
  .footer {
    background-color: black;
    position: block;
    left: 0px;
    right: 0px;
  }